<div class="col-sm-6 col-sm-offset-3">
  <p id="notice"><%= notice %></p>

  <div class="center-title">
    <h1>care2share</h1>
    <br>
    <%= button_to 'new share', new_post_path, method: 'get', class: 'btn btn-default' %>
    <br>
    <h2>all shares</h2>
  </div>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.username_id %></td>
      <td><% link_to 'Show', post %></td>
      <td><% link_to 'Edit', edit_post_path(post) %></td>
      <td><% link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</div>
