<div class="col-sm-6 col-sm-offset-3">
  <p id="notice"><%= notice %></p>

  <div class="center-title">
    <h1>care2share</h1>
    <br>
    <%= button_to 'new share', new_post_path, method: 'get', class: 'btn btn-default' %>
    <br>
    <h2>all shares</h2>
  </div>

  <% @posts.each do |post| %>
    <h1><%= link_to post.title, post %></h1>

    <p>
      <%= markdown(post.content) %>
    </p>
    <h5>Published <%= time_ago_in_words post.created_at %> ago</h5>

    <% if post != @posts.last %>
    <hr />
    <% end %>
  <% end %>

</div>
